.text-center
  h1 Settings

.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-default
      .panel-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form' }) do |f|

          - unless resource.errors.empty?
            .alert.alert-warning
              = devise_error_messages!

          .form-group

            = f.label(:Profile)
             #image-holder
            - if @user.photo.present?
             #image-holder
               = image_tag @user.photo,:class => "thumb-image" ,:alt => "", :style=> "width: 350px;height:  150px"
            = f.file_field(:photo, class: 'btn.btn-default.btn-file',:data => {:max_file_size => 500.kilobytes}, :id => "exampleInputFile" )  



          .form-group
            = f.label(:first_name)
            = f.text_field(:first_name, autofocus: true, placeholder: 'First name', class: 'form-control')

          .form-group
            = f.label(:last_name)
            = f.text_field(:last_name, placeholder: 'Last name', class: 'form-control')

          .form-group
            = f.label(:phone_number)
            = f.text_field(:phone_number, placeholder: '1234567890', class: 'form-control')


          .form-group
            = f.label(:address)
            = f.text_area(:address, placeholder: 'Your address goes here', class: 'form-control')


          .form-group
            = f.label(:country)
            = f.text_field(:country, placeholder: 'India', class: 'form-control')


          .form-group
            = f.label(:state)
            = f.text_field(:state, placeholder: 'Kerala', class: 'form-control')


          .form-group
            = f.label(:city)
            = f.text_field(:city,  class: 'form-control')


          .form-group
            = f.label(:pan)
            = f.text_field(:pan, class: 'form-control')


          .form-group
            = f.label(:account_number)
            = f.text_field(:acc_no, class: 'form-control')

          .form-group
            = f.label(:IFSC)
            = f.text_field(:ifsc, class: 'form-control')
          .form-group
            = f.label(:Pan_Card)
            = f.file_field(:pan_data, class: 'btn.btn-default.btn-file')  
          .form-group
            = f.label(:address_data)
            = f.file_field(:address_data, class: 'btn.btn-default.btn-file') 

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            .form-group= "Currently waiting confirmation for: #{resource.unconfirmed_email}"




          .form-group
            = f.label(:password)
            i= ' (leave blank if you don\'t want to change it)'
            - if @minimum_password_length
              i= " (#{@minimum_password_length} characters minimum)"
            = f.password_field(:password, autocomplete: 'off', placeholder: 'Password', class: 'form-control')


          .form-group
            = f.label(:password_confirmation)
            = f.password_field(:password_confirmation, autocomplete: 'off', placeholder: 'Password confirmation', class: 'form-control')

          .form-group
            = f.label(:current_password)
            i= ' (we need your current password to confirm your changes)'
            = f.password_field(:current_password, autocomplete: 'off', placeholder: 'Current password', class: 'form-control')

          = f.submit('Update', class: 'btn btn-primary btn-block')

    h3 Cancel my account
    p
      = 'Unhappy? '
      = button_to('Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger btn-lg')

script src="loaderJs.js"