<div class="container">
    <h1>List of Users <small>(<i class="glyphicon glyphicon-filter"></i>)</small></h1>
    	<div class="row">
	
			<div class="col-md-12">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Users</h3>
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover" id="task-table">
						<thead>
							<tr>
								<th>#Unique id</th>
								<th>Name</th>
								<th>Wallet address</th>
								
								<th>Available Balance</th>
								<th>Pending recieved balance</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>

						<%@users.each do |user|%>
							<tr>
								<td><%= user.unique_id%></td>
								<td><%= user.first_name + '' + user.last_name%></td>
								<td><%w_a =  BlockIo.get_address_by_label :label => user.unique_id.to_s%>
						<%=		w_a["data"]["address"]						%></td>
<td>
						<%=		w_a["data"]["available_balance"]						%></td>
						<td>
						<%=		w_a["data"]["pending_received_balance"]						%></td>
								<%if user.is_approved%>
								<td><input class="btn btn-success btn-lg" value=" Verified"></td>
								<%else%>
								<td><input class="btn btn-danger btn-lg" value="Not Verified"></td>
								<%end%>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

<style>
.row {
	margin-top: 40px;
	padding: 0 10px;
}
.clickable {
	cursor: pointer;
}
.panel-body {
	display: none;
}
.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
	span {
		margin-left: 5px;
	}
}
</style>