// Place all the styles related to the panels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
	margin-top: 40px;
	padding: 0 10px;
}
.clickable {
	cursor: pointer;
}
.panel-body {
	display: none;
}
.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
	span {
		margin-left: 5px;
	}
}